.format-register-number {
    color: chartreuse;
}

.format-line-number {
    color: yellow;
}

.format-inc {
    color: #00ffff;
    text-decoration-style: wavy;
}

.format-dec {
    color: red;
}

.format-tst {
    color: #ffc0cb;
}

.format-jmp {
    color: #ff8000;
}

.format-hlt {
    color: #dc143c;
}

.format-error {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}