.topnav {
    height: 5%;
    background-color: hsl(213, 12%, 15%);
    display: flex;
    align-items: center;
}

.fa-user-plus,
.fa-save,
.fa-folder-open,
.fa-expand,
.fa-compress-arrows-alt,
.fa-play,
.fa-file-export,
#peerAdress {
    color: white;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.topnav a:hover * {
    color: greenyellow;
}

.topnav .fa-play {
    color: #04aa6d;
}

#peerAdress {
    margin-left: auto;
    color: white;
    padding: 5px;
    text-decoration: none;
}